@import url(//fonts.googleapis.com/css?family=Limelight);
#player .slider .ui-slider-range
{
	background: green;
}
#player .slider .ui-slider-handle
{
	display: none;
	height: 110%;
	width: 10px;
}
#player .sliderContainer
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100px;
	display: block;
	border-radius: 10px;
	padding-left: 0.5%;
	padding-right: 0.5%;
	background: lightgrey;
}
#simplePlayer .slider
{
	margin-top: 9px;
	border-radius: 0px;
	border: 0px;
	height: 10px;
	width: 100%;
	background: darkcyan;
}
#simplePlayer .buttons
{
	top:70px;
	left:10px;
	position: fixed;
}
#complexPlayer .slider
{
	position: absolute;
	top: 5%;
	height: 90%;
	width: 99%;
	background: darkcyan;
}
#player .sliderContainer canvas
{
	position: absolute;
	height: 100%;
	width: 99%;
	padding-top:    5px;
	padding-bottom: 5px;
	background: none;
	z-index: 1;
	pointer-events: none;
}
#krupskaya
{
	font-family: 'Limelight', cursive;
	font-size: 25pt;
}
.btn-file
{
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file]
{
cposition: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}
input[rcadonly]
{
	background-color: white !important;
	cursor: text !important;
}

.loading {
	animation: spin .7s infinite linear;
	-ms-animation: spin .7s infinite linear;
	-webkit-animation: spinw .7s infinite linear;
	-moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
	from { transform: scale(1) rotate(0deg);}
	to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
	from { -webkit-transform: rotate(0deg);}
	to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg);}
}
