<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Upload file</h4>
			</div>
			<div class="modal-body">
				<form action="upload.php" method="put" enctype="multipart/form-data">
					<div class="form-group">
						<input name="f" class="form-control" type="file">
					</div>
					<button type="submit" class="btn btn-success">Upload</button>
				</form>
			</div>
		</div>
	</div>
</div>
